# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse Files
.metadata
.recommenders
bin
.classpath
.project
.settings/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

target
out
bin
